<%- include('./partials/header') %>
<p>this is user<%= user %></p>
    <% if (user) { %>
            <div class="col s12 m4 l8">
                <p>Welcome <%= user.name %>!</p>
                <img src="<%= user.avatar %>" alt="user profile picture" class="responsive-img circle">
            </div>
        </div>
    <% } %>
<%- include('./partials/footer') %>
