<%- include('../partials/header') %>
<div class="readings-nav">
        <form method="POST" action="/readings/<%= reading._id %>?_method=PUT">
              <label for="question">
                  <input name="question" value="<%= reading.question %>">  </input>
              </label>
              <label for="name">
                  <input name="name" value="<%= reading.name %>"> </input>
              </label>
              <label for="meaning">
                  <input name="meaning" value="<%= reading.meaning %>">        </input>
              </label>
              <label for="desc">
                  <input name="desc" value="<%= reading.description %>">          </input>  
              </label>
              <button type="submit">Update Diary</button>
            </form>
        </div>    
<%- include('../partials/footer') %>
