<%- include('../partials/header') %>
<div class="readings-nav">
        <form method="POST" action="/readings/<%= reading._id %>?_method=PUT">
              <label>Question
                  <input name="question" value="<%= reading.question %>"></input>
              </label>
              <label>Card Name
                  <input name="name" value="<%= reading.name %>"></input>
              </label>
              <label>Card Meaning
                  <input name="meaning" value="<%= reading.meaning %>"></input>
              </label>
              <label>Card Description
                  <input name="desc" value="<%= reading.description %>"></input>  
              </label>
              <button type="submit">Update Reading</button>
            </form>
            </div>
           
<%- include('../partials/footer') %>
