<%- include('../partials/header') %>
    <% if (!card) { %>
        <form action="/readings" method="POST">
            <label>
               <p>What would you like to ask?</p>
            </label>  
            <input type="text" name="question">
            <input type="submit" value="Pull a card">
        </form>
    <% } else { %>
        <div class="readings-nav">
          <p>           <%= reading.question %>          </p>
          <p>             <%= reading.name %> </p>
          <p>             <%= reading.meaning %>          </p>
          <p>            <%= reading.description %>          </p>  
        </div>    
        <form method="GET" action="/readings/<%= reading._id %>">
            <button>Save Reading</button>
        </form>
    <% } %>
    
<%- include('../partials/footer') %>
