<%- include('../partials/header') %>

<div class="container">
        <div class="section no-pad-bot most">
            <div class="container">
                <div class="card">
                    <div class="card content large purple darken-4 white-text">
                        <form method="POST" action="/readings">
                            <label for="question" class="some">Question</label>
                            <p><%= question %></p> 
                            <input name="question" type="hidden" value="<%= question %>"></input>
                            <label for="name" class="some">Card Name</label>
                            <p><%= cardName %></p>
                            <input name="name" type="hidden" value="<%= cardName %>"></input>
                            <label for="meaning" class="some">Card Meaning</label>
                            <p><%= cardMean %></p>
                            <input name="meaning" type="hidden" value="<%= cardMean %>"></input> 
                            <label for="desc" class="some">Description</label>
                            <p><%= cardDesc %></p>
                            <input name="desc" type="hidden" value="<%= cardDesc %>"></input>  
                            <div class="card-action">
                                <button class="btn waves-effect waves-light purple accent-1" type="submit" name="action">
                                    <i class="material-icons right">brightness_5</i>Add to Diary</button>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
   </div> 
        

<%- include('../partials/footer') %>
