<%- include('../partials/header') %>

<div class="col s12 m4 l8">
        <form method="POST" action="/readings">
        <label for="question">
               <p><%= question %></p> 
            <input name="question" type="hidden" value="<%= question %>">  </input>
            </label>
          <label for="name">
              <p><%= cardName %></p>
              <input name="name" type="hidden" value="<%= cardName %>"> </input>
          </label>
          <label for="meaning">
              <p><%= cardMean %></p>
              <input name="meaning" type="hidden" value="<%= cardMean %>">        </input>
          </label>
          <label for="desc">
              <p><%= cardDesc %></p>
              <input name="desc" type="hidden" value="<%= cardDesc %>">          </input>  
          </label>
          <button type="submit">Add to Diary</button>
        </form>
    </div>    
        

<%- include('../partials/footer') %>
